version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: sahilph-umbrel-httpsizer_app_1
      APP_PORT: 3000

  app:
    image: ghcr.io/sahilph/umbrel-httpsizer:0.0.3@sha256:49ddbc4d64fdd19128b963956d6cd15a377af0cb64c7c6d2b23e9f55221d3b1a
    hostname: sahilph-umbrel-httpsizer_app_1
    restart: on-failure
    volumes:
      - "${APP_DATA_DIR}/data/app:/app-data"
      - "${UMBREL_ROOT}/secrets/ssl:/ssl:ro"

  caddy:
    image: caddy:2.10.0-alpine@sha256:e2e3a089760c453bc51c4e718342bd7032d6714f15b437db7121bfc2de2654a6
    user: "1000:1000"
    restart: on-failure
    depends_on:
      - app
    ports:
      - "443:8443"
    volumes:
      - "${APP_DATA_DIR}/data/caddy/Caddyfile:/etc/caddy/Caddyfile"
      - "${APP_DATA_DIR}/data/caddy/data:/data"
      - "${UMBREL_ROOT}/secrets/ssl:/ssl:ro"
    extra_hosts:
      - "host.docker.internal:host-gateway"
